<p-table [value]="tournaments"
         styleClass="p-datatable-striped"
         [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nr.</th>
      <th>Startdatum</th>
      <th>Enddatum</th>
      <th>Name</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tournament>
    <tr>
      <td>{{ tournament.id }}</td>
      <td>{{ tournament.startDate }}</td>
      <td>{{ tournament.endDate }}</td>
      <td>{{ tournament.name }}</td>
    </tr>
  </ng-template>
</p-table>
