<p-table [value]="players"
         styleClass="p-datatable-striped"
         [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nr.</th>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Geschlecht</th>
      <th>Leistungsklasse</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-player>
    <tr>
      <td>{{ player.id }}</td>
      <td>{{ player.lastname }}</td>
      <td>{{ player.firstname }}</td>
      <td>{{ player.gender }}</td>
      <td>{{ player.performanceClass }}</td>
    </tr>
  </ng-template>
</p-table>
