<!-- register.component.html -->
<div class="register-container">
  <div class="card">
    <h2>Registrierung</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="p-field">
        <p-select id="gender" [options]="genders" formControlName="gender" placeholder="Geschlecht" class="w-full md:w-3" />
      </div>

      <div class="p-field">
        <label for="firstName">Vorname</label>
        <input
          id="firstName"
          type="text"
          pInputText
          formControlName="firstName"
          placeholder="Bitte gib deinen Vornamen an"
        />
      </div>

      <div class="p-field">
        <label for="lastName">Nachname</label>
        <input
          id="lastName"
          type="text"
          pInputText
          formControlName="lastName"
          placeholder="Bitte gib deinen Nachnamen an"
        />
      </div>

      <div class="p-field">
        <label for="email">E-Mail Adresse</label>
        <input
          id="email"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Bitte gib deine E-Mail Adresse an"
        />
      </div>

      <div class="p-field">
        <label for="password">Passwort</label>
        <p-password
          id="password"
          formControlName="password"
          class="w-full"
          [style]="{'width':'100%'}"
          [inputStyle]="{'width':'100%'}"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Bitte gib ein Passwort ein"
        ></p-password>
      </div>

      <div class="p-field">
        <label for="mobile">Mobilrufnummer</label>
        <input
          id="mobile"
          type="text"
          pInputText
          formControlName="mobile"
          placeholder="Bitte gib deine Mobilrufnummer an"
        />
      </div>

      <div *ngIf="message" class="p-fluid mb-3">
        <p-message severity="error" text="{{ message }}"></p-message>
      </div>

      <div class="button-group">
        <p-button type="submit" label="Registrieren" [disabled]="registerForm.invalid" />
        <p-button type="button" label="Abbrechen" severity="secondary" (click)="onCancel()" />
      </div>
    </form>
  </div>
</div>
