<!-- login.component.html -->
<div class="login-container">
  <div class="card">
    <h2>Anmeldung</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="username">Benutzername</label>
        <input
          id="username"
          type="text"
          pInputText
          formControlName="username"
          placeholder="Geben Sie Ihren Benutzernamen ein"
        />
<!--        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-message">
          Benutzername ist erforderlich.
        </div>-->
      </div>

      <div class="p-field">
        <label for="password">Passwort</label>
        <p-password
          id="password"
          formControlName="password"
          class="w-full"
          [style]="{'width':'100%'}"
          [inputStyle]="{'width':'100%'}"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Geben Sie Ihr Passwort ein"
        ></p-password>
        <!--<div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          Passwort ist erforderlich.
        </div> -->
      </div>

      <button
        pButton
        label="Anmelden"
        icon="pi pi-sign-in"
        class="p-mt-2"
        type="submit"
        [disabled]="loginForm.invalid"
      ></button>
    </form>
  </div>
</div>
