<!-- login.component.html -->
<div class="login-container">
  <div class="card">
    <h2>Anmeldung</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="email">E-Mail</label>
        <input
          id="email"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Bitte gib deine E-Mail Adresse an"
        />
      </div>

      <div class="p-field">
        <label for="password">Passwort</label>
        <p-password
          id="password"
          formControlName="password"
          class="w-full"
          [style]="{'width':'100%'}"
          [inputStyle]="{'width':'100%'}"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Bitte gib dein Passwort ein"
        ></p-password>
      </div>

      <div *ngIf="message" class="p-fluid mb-3">
        <p-message severity="error" text="{{ message }}"></p-message>
      </div>

      <p-button type="submit" label="Anmelden" [disabled]="loginForm.invalid" />

      <div class="text-sm text-700 font-italic">
        <p class="mt-5">
          Passwort vergessen? Hier kannst du es <a [routerLink]="['/reset']" class="no-underline">zurücksetzen</a>.
        </p>
        <p class="mt-2">
          Noch kein Konto? Hier kannst du dich als Vereinsmitglied <a [routerLink]="['/register']" class="no-underline">registrieren</a>.
        </p>
      </div>
    </form>
  </div>
</div>
