<p-card header="Mein Profil">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="formgrid grid my-3">
      <div class="field col-12 md:col-12">
        <p-select [options]="genders" formControlName="gender" placeholder="Geschlecht" class="w-full md:w-3" />
      </div>
      <div class="field col-12 md:col-6">
        <p-floatlabel variant="in">
          <input pInputText id="firstname" formControlName="firstname" autocomplete="off" class="w-full" />
          <label for="firstname">Vorname</label>
        </p-floatlabel>
      </div>
      <div class="field col-12 md:col-6">
        <p-floatlabel variant="in">
          <input pInputText id="lastname" formControlName="lastname" autocomplete="off" class="w-full" />
          <label for="lastname">Nachname</label>
        </p-floatlabel>
      </div>
      <div class="field col-12 md:col-6">
        <p-floatlabel variant="in">
          <input pInputText id="email" formControlName="email" autocomplete="off" class="w-full" />
          <label for="email">E-Mail</label>
        </p-floatlabel>
      </div>
      <div class="field col-12 md:col-6">
        <p-floatlabel variant="in">
          <input pInputText id="mobile" formControlName="mobile" autocomplete="off" class="w-full" />
          <label for="mobile">Mobiltelefon</label>
        </p-floatlabel>
      </div>
      <div class="field col-12 md:col-6">
        <p-floatlabel variant="in">
          <p-datepicker id="birthdate" formControlName="birthdate" dateFormat="yy-mm-dd" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" />
          <label for="birthdate">Geburtsdatum</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="button-group">
      <p-button type="submit" label="Speichern" [disabled]="profileForm.invalid" />
      <p-button type="button" label="Abbrechen" severity="secondary" (click)="onCancel()" />
    </div>
  </form>
</p-card>



